:root{ 
    --accent-color: #4d5fe5; 
    --accent-color-hover: #404BBF;
    --primary-text-color-theme-light: #2e2f42;
    --primary-text-color-theme-dark:#ffff;
    --secondary-text-color-theme-light: #434455;
    --secondary-text-color-theme-dark: #e7e9fc;    
    --background-color-body-theme-light: #fff;
    --additiomal-color: #F4F4FD;

}
.list {
    list-style: none;
}
.link{
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color-theme-light);
    background-color: var(--background-color-body-theme-light);
}
/*==========COMPONENTS==========*/
.title{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
}
.heading{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;    
}
.subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;    
}
.text-body{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);  
}

/*logo*/
.logo-text-part-one{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}
.logo-text-part-two-theme-light{
    color: var(--primary-text-color-theme-light);
}
.logo-text-part-two-theme-dark{
    color: var(--additiomal-color);}

/*==========HEADER==========*/
.menu-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);    
}
.memu-link-active{
    color: var(--accent-color);
}
.menu-link:hover,
.menu-link:focus{
    color: var(--accent-color-hover);
}
.contact{
    font-weight: 400;
    font-size: 16px;
    line-height: 0.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
}
.contact:hover,
.contact:focus{
    color: var(--accent-color-hover);
}
/*==========/HEADER==========*/
/*==========HERO SECTION==========*/
.btn{
    cursor: pointer;
}
.modal-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-text-color-theme-dark);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;   
}
.modal-btn:hover,
.modal-btn:focus{
    background: var(--accent-color-hover);
}
/*==========/HERO SECTION==========*/
/*==========FOOTER==========*/
.text-theme-dark{
    color: var(--secondary-text-color-theme-dark);
}
/*==========/FOOTER==========*/
/*==========FILTRES==========*/
.filtres-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5x;
    background: var(--additiomal-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}
.filtres-btn:hover,
.filtres-btn:focus{
    color: var(--primary-text-color-theme-dark);
    background: var(--accent-color-hover);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
/*==========/FILTRES==========*/



